name: CI

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Clean npm cache
        run: npm cache clean --force
      - name: Install dependencies
        run: npm install
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          plugins: |
            @semantic-release/changelog@6.0.0
            @semantic-release/git
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
